<footer>
    <h3>©Codeial.All Rights Reserved</h3>
    <div class="footer-nav-links">
        <% if(locals.user){ %>
            <a href="/users/profile/<%= locals.user.id %>">Profile</a>
        <% } %>
        
        <a href="/">Home</a>
    </div>
</footer>