<form action="/users/reset-password-initiate" method="post">
    <input type="email" name="email" required placeholder="Your Registered Email">
    <input type="submit" value="Reset Password">
</form>