<form action="/users/reset-password" method="post">
    <input type="password" name="password" id="password" placeholder="new password">
    <input type="password" name="confirm_password" id="confirm-password" placeholder="confirm-password">
    <input type="hidden" name="token" value="<%= token._id %>">
    <input type="submit" value="Reset Password" id="reset-password-button" disabled>
</form>

<script src="<%= assetPath('js/reset_password.js') %>"></script>