<div>
    <p>Hi, <%= data.user.name  %></p>
    <br>
    <br>
    <p>Your link to reset the password is <a href="http://localhost:8000/users/reset-password/<%=data.accessToken%>">here.</a></p>
    <br>
    <br>
    <p>Thanks!</p>
</div>